[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.1"
flask = "*"
gunicorn = "*"
pandas = "==2.2.2"
xgboost = "==2.1.0"
mlflow = "==2.14.3"
flask_cors = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
